<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <meta name="csrf-token" content="<%= csrfToken %>">
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        .hideMe {
            -moz-animation: cssAnimation 0s ease-in 5s forwards;
            /* Firefox */
            -webkit-animation: cssAnimation 0s ease-in 5s forwards;
            /* Safari and Chrome */
            -o-animation: cssAnimation 0s ease-in 5s forwards;
            /* Opera */
            animation: cssAnimation 0s ease-in 5s forwards;
            -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
        }
        @keyframes cssAnimation {
            to {
                width:0;
                height:0;
                overflow:hidden;
                display: none;
            }
        }
        @-webkit-keyframes cssAnimation {
            to {
                width:0;
                height:0;
                visibility:hidden;
                display: none;
            }
        }
  </style>
</head>
<body>
    <div class="grid grid-cols-6">
        <div class="col-start-2 col-span-4">
            <%- include('header') %>
            <br><br><br>
            <h1 class="text-4xl"><%= election.electionName %></h1>
            <br><br>
            <h4 class="">There are 
                <span id="voterCount" class="bg-gray-300 ml-2 px-2 rounded text-sm">
                <%= voterCount %>
                </span>
                &nbsp registered voters in this Election</h4>
            <br>
            <a href="/admin/election/voters/<%= election.id %>" class="text-xl font-semibold underline">Manage Voters</a>
            <br><br>
            <h4 class="">There are 
                <span id="questionCount" class="bg-gray-300 ml-2 px-2 rounded text-sm">
                <%= questionCount %>
                </span>
                &nbsp Question in this Election</h4>
            <br>
            <a href="/admin/election/questions/<%= election.id %>" class="text-xl font-semibold underline" id="questionButton">Manage Questions</a>
            <br><br>
            <button class="bg-green-500 text-white px-2 py-1 rounded" onclick="launchElection()">Launch Election</button>
            <button class="bg-green-500 text-white px-2 py-1 rounded" onclick="UnLaunchElection()">Stop Election</button><br>
            <br>
            <div class="hidden" id="ElectionLaunch">
                <ul class="bg-green-100 rounded border border-green-200 border-2" id="ElectionLaunchul">
                    <li class="text-center hideMe" id="ElectionLaunchli"></li>
                </ul>
            </div> 
            <div>
                <div class="hideMe">
                    <% if(messages && messages.error && messages.error.length > 0)  { %>
                        <ul class="bg-red-100 rounded border border-red-200 border-2 hideMe">
                            <% for(var i=0; i<messages.error.length; i++) { %>
                                    <li class="text-center hideMe"> <%= messages.error[i] %></li>
                            <% } %>
                        </ul>
                    <% } %>
                    <% if(messages && messages.success && messages.success.length > 0)  { %>
                        <ul class="bg-green-100 rounded border border-green-200 border-2 hideMe">
                            <% for(var i=0; i<messages.success.length; i++) { %>
                                    <li class="text-center hideMe"> <%= messages.success[i] %></li>
                            <% } %>
                        </ul>
                    <% } %>
                    <% if(messages && messages.info && messages.info.length > 0)  { %>
                        <ul class="bg-blue-100 rounded border border-blue-200 border-2 hideMe">
                            <% for(var i=0; i<messages.info.length; i++) { %>
                                    <li class="text-center hideMe"> <%= messages.info[i] %></li>
                            <% } %>
                        </ul>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    <script>
        if (<%= election.isLive %>){
            document.getElementById("questionButton").classList.add("hidden")
        }
        function launchElection() {
            // document.getElementById("questionButton").classList.add("hidden")
            console.log("Launching Election")
            var token = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
            fetch('/admin/election/launch/<%= election.id %>', {
                method: 'PUT',
                headers: {
                    "Content-Type": "application/json"
                },
                body:JSON.stringify({
                    _csrf: token
                })
            })
            .then((res) => {
                if (res.ok){
                    window.location.reload()
                    // showSucess("Election Launched Successfully")
                }
            })
            .catch((err) => {
                console.log(err)
            })
        }
        function UnLaunchElection() {
            // document.getElementById("questionButton").classList.remove("hidden")
            console.log("Stoping Election")
            var token = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
            fetch('/admin/election/stop/<%= election.id %>', {
                method: 'PUT',
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    _csrf: token
                })
            })
            .then((res) => {
                if (res.ok){
                    window.location.reload()
                    // showSucess("Election Stopped Successfully")
                }
            })
            .catch((err) => {
                console.log(err)
            })
        }
        function showSucess(success) {
            document.getElementById('ElectionLaunchli').innerText = success;
            document.getElementById('ElectionLaunch').classList.remove('hidden')
            setTimeout(() => {
                document.getElementById('ElectionLaunch').classList.add('hidden')
            }, 3000);
        }
    </script>
</body>
</html>